<div class="container">
  <form class="row g-3">
    <div class="col-md-3">
      <label for="inputEmail4" class="form-label">Start Level</label>
      <input
        type="number"
        class="form-control"
        name="start"
        id="inputEmail4"
        [(ngModel)]="model.startLevel"
        min="1"
      />
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Target Level</label>
      <input
        type="number"
        name="end"
        class="form-control"
        id="inputPassword4"
        min="1"
        [(ngModel)]="model.endLevel"
      />
    </div>
  </form>
  <br />

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4">
    <div
      class="col"
      *ngFor="let resource of computeCost(model.startLevel + 1, model.endLevel)"
    >
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title" class="d-flex">
            <div class="p-1">{{ Names.get(resource.resource) }}</div>
            <div class="p-1 ms-auto">
              {{ resource.cost | number : "1.0-0" }}
              <img [src]="Icons.get(resource.resource)" class="resource-icon" />
            </div>
          </h5>
          <div class="card-text">
            <div
              *ngFor="
                let source of getSources(resource.resource, resource.cost)
              "
              class="d-flex"
            >
              <div class="p-1">
                {{ source.source.source }}
                <div class="text-muted">
                  {{ source.source.amount | number : "1.0-0" }}
                  <img
                    [src]="Icons.get(source.source.resource)"
                    class="resource-icon"
                  />
                </div>
              </div>
              <div class="p-1 ms-auto">x {{ source.amount }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title" class="d-flex">List of the individual levels</h5>

      <div class="overflow-auto p-1" id="level-list">
        <div
          *ngFor="
            let c of getCostSteps(model.startLevel + 1, model.endLevel);
            let idx = index
          "
          class="d-flex"
        >
          <div>
            {{ idx + model.startLevel }} -> {{ idx + 1 + model.startLevel }}
          </div>
          <div class="ms-auto" *ngFor="let p of c">
            {{ Names.get(p.resource) }}: {{ p.cost | number : "1.0-0" }}
            <img [src]="Icons.get(p.resource)" class="resource-icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
